# Ignoring model weights and data files do to their size.
ModelWeights/
gpt2/
sms_spam_collection.zip
sms_spam_collection/

# Ignore all __pycache__ folders at any depth
**/__pycache__/

# Ignore individual compiled Python files
*.py[cod]
*$py.class

# Environment variables and secrets
.env
.env.secret

# Virtual Environments
.venv/
venv/
ENV/
env/
ENV/

# Jupyter Notebooks
.ipynb_checkpoints


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg